.manage-card-template {

.call-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px 8px;
    margin-bottom: 3px;
    border-radius: 4px;

    .move-btn {
        width: 40px;
        text-align: center;
        visibility: hidden;
    }
}

}