.customer-with-contract {
    .card {
        background-color: white;
        border-radius: 5px;
        height: 360px;

        .active-customer-count {
            margin-left: 12px;
            color: #435BAA;
            font-size: 24px;
            font-weight: 700;
            margin-top: 100px;
        }

        .total-customer-title {
            color: #02101B;
            font-weight: 400;
            margin-left: 12px;
        }

        .round-circle {
            width: 12px;
            height: 12px;
            background: #435BAA;
            border-radius: 6px;
            margin-top: 40px;
        }

        .active-contract-text {
            font-family: 'Open Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            color: #02101B;
            margin-left: 10px;
            margin-top: 35px;
        }
    }
}