@use "/src/variables";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 65px;
  padding: 7px 10px;
  position: fixed;
  width: 100%;
  z-index: 110;
  right: 0;
  top: 0;
  background: var(--headertopGradient);

  .hamburger-menu {
    height: 11.08px;
    width: 15.83px;
    margin-left: 20px;
  }
  .header-icons {
    display: flex;
    background: var(--ghostWhite);
    justify-content: center;
    text-align: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    align-items: center;
    padding: 0 10px;
    .icon {
      width: 20px;
      height: 20px;
    }
  }

  .title {
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: var(--white);
    margin-left: 30px;
  }

  .object-cover {
    object-fit: cover;
  }
  .profile-dd img {
    border: 1px solid #fff;
    border-radius: 50%;
  }
  .profile-dd::after {
    border: 0;
    border-color: var(--white);
  }
  .profile-dd-item{
    background-color: var(--lightBlue);
    .dropdown-item:hover{background-color: var(--blue);color: var(--white) !important;}
  }

  // .form-style {
  //   .form-control {
  //     padding-top: 7px !important;
  //     height: 36px;
  //     color: var(--black);
  //     font-weight: 300;
  //     background-color: var(--ghostWhite);
  //     border-color: var(--grey91);
  //     border-radius: 7px;
  //     transition: 0.2s;
  //     margin-top: 3px !important;
  //     font-size: 13px;
  //   }

  //   .form-control:focus {
  //     border-color: var(--autumn);
  //     background-color: var(--white);
  //   }

  //   .form-control::placeholder {
  //     color: var(--grey);
  //     font-weight: 300;
  //     font-size: 15px;
  //   }
  // }
}
